.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
**/credentials.json
**/client_secrets.json
**/client_secret.json
*creds*
*.dat
*password*
*.httr-oauth*
node_modules/
creds.js
*.json
*.csv
*.csv.gz
*.tsv
*.tsv.gz
*.xlsx
*.txt
*.env
data/
eval/
.DS_Store
__pycache__/
*.py[cod]
*$py.class
cache-directory/
*.db
*.log
build/
target/
.vscode
lib/
*.cmd
*.ipynb
.python-version
mlm_bias.egg-info/
dist/